/* line 3, static/scss/user/register.scss */
body {
  margin: 0; }

/* line 13, static/scss/user/register.scss */
.main .picture {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 450px;
  background: #000000;
  border-radius: 20px 0 0 20px; }

/* line 28, static/scss/user/register.scss */
.main .brand {
  position: relative;
  top: 20px;
  left: 10px; }

/* line 36, static/scss/user/register.scss */
.main .text {
  position: relative;
  top: 100px; }
