/* line 2, static/scss/user/register.scss */
input {
  outline: none; }

/* line 8, static/scss/user/register.scss */
::placeholder {
  color: #787C71;
  opacity: 1;
  /* Firefox */ }

/* line 13, static/scss/user/register.scss */
::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #787C71; }

/* line 19, static/scss/user/register.scss */
.main .picture {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 600px;
  background: #000000;
  border-radius: 20px 0 0 20px; }

/* line 34, static/scss/user/register.scss */
.main .brand {
  position: relative;
  left: 10px; }

/* line 41, static/scss/user/register.scss */
.main .text {
  position: relative;
  top: 100px;
  left: 150px;
  font-size: 30px; }

/* line 51, static/scss/user/register.scss */
.main #form2, .main #form3, .main #form4, .main #form5, .main .back-btn {
  display: none; }

/* line 57, static/scss/user/register.scss */
.main .form {
  position: relative;
  top: 150px;
  left: 200px; }
  /* line 67, static/scss/user/register.scss */
  .main .form .fields .field input {
    width: 700px;
    height: 65px;
    margin-bottom: 20px;
    padding: 3px 25px 0 25px;
    border-radius: 100px;
    border: none;
    background: #F6F7F5;
    color: #787C71;
    font-size: 20px; }
